{% extends "base.html" %}

{% block titulo %}
    Detalle de {{autor}}
{% endblock titulo %}

{% block contenido %}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{autor.nombre}}</h5>
    <p class="card-text">Cantidad de frases: {{cant_frases}} </p>

    <p class="card-text">
      <ul>
          {% for frase in listar_frases %}
          <li>{{frase.autor.nombre}} {{frase.frase}} {{frase.fecha_frase}}</li>
          {% endfor %}
      </ul>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{autor.nacionalidad}}</li>
    <li class="list-group-item">{{autor.fecha_nacimiento}}</li>
    <li class="list-group-item">{{autor.activo}}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'autores:listar_autores' %}" class="card-link">Volver</a>
    <a href="{% url 'autores:autor_frases' autor.id %}" class="card-link">Frases</a>
  </div>
</div>

{% endblock contenido %}